@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.logo{
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
  content: "School Tribe";
}

.menu{
  float: right;

}
.menu-item{
  margin: 10px;
}              

.box-shadow {
  box-shadow: 0 2px 8px #f0f1f2;
  -webkit-box-shadow: 0 2px 8px #f0f1f2;
  -moz-box-shadow: 0 2px 8px #f0f1f2;
}

.steps-content {
  margin-top: 16px;
  // border: 1px dashed #e9e9e9;
  border-radius: 2px;
  background-color: #fafafa;
  min-height: 200px;
  // text-align: center;
  padding-top: 80px;
}

.steps-action {
  margin-top: 24px;
}